:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --darker: #12372A;
  --dark: #436850;
  --lighter: #FBFADA;
  --light: #ADBC9F;

  --border: var(--lighter);
  --background: var(--dark);
  --font: var(--lighter);
  --accent: var(--lighter);

  color-scheme: light dark;
  color: var(--font);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --darker: #12372A;
    --dark: #436850;
    --lighter: #FBFADA;
    --light: #ADBC9F;

    --border: var(--dark);
    --background: var(--light);
    --font: var(--darker);
    --accent: var(--lighter);

    color: var(--font);
    background-color: var(--background);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

#header {
  font-size: 2rem;
  font-weight: 500;
  padding-inline: 1.5em;
  padding-block: 0.5em;
  border-bottom: 2px solid currentColor;
  background-color: var(--darker);
  color: #CFF5E7;
}

.offscreen {
  position: absolute;
  left: -100000px;
}

.container {
  width: clamp(40%, 500px, 70%);
  margin: auto;
}

.search {
  position: relative;
  margin: 2em auto;
}

input,
button {
  font: inherit;
  color: inherit;
}

.search input {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 2px;
}

.search input::placeholder {
  color: currentColor;
  opacity: 0.7;
}

.search input:focus {
  outline: 1px solid var(--darker);
}

.search svg {
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  left: 10px;
  top: 12px;
  filter: drop-shadow(2px 2px var(--font));
}

.weather .current {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 25px;
  padding-block: 15px;
  padding-inline: 10px;
  background-color: var(--background);
  box-shadow: 1px 1px 3px var(--darker) inset,
    3px 4px 4px var(--darker),
    3px 10px 4px var(--dark),
    3px 3px 4px var(--lighter);
}

.current>div:not(.updated) {
  display: flex;
  flex-direction: column;
}

.current>div:not(.icon) {
  padding-left: 10px;
}

.current .icon {
  justify-content: center;
  align-items: center;
}

.current .details .temp {
  font-size: 1.5em;
  font-weight: 500;
}

.locationSearch {
  position: relative;
}

ul#searchResults {
  position: absolute;
  list-style: none;
  background-color: var(--background);
  width: 100%;
  border: 2px solid var(--border);
  margin-top: 5px;
  padding: 5px;
}

ul#searchResults li {
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  padding: 10px;
}

ul#searchResults li:last-child {
  border: none;
}

ul#searchResults:empty {
  display: none;
  background-color: red;
}

/* Loader */

#loader {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
  height: 100vh;
  display: grid;
  place-content: center;

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 6px solid var(--background);
    border-top-color: white;
    background-color: transparent;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none !important;
}

/* Notification */
.notification_container {
  position: absolute;
  top: 5.5em;
  right: 10px;
  background-color: var(--light);
  border-radius: 5px;

  transition: transform 1s ease-in-out;
  transform: translateY(-300%);
}

.notification_container.show {
  transform: translateY(0);
}

.notification {
  min-width: 250px;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
  position: relative;
  color: var(--darker);
}

.notification__bar {
  width: 100%;
  height: 5px;
  background-color: var(--darker);
  position: absolute;
  bottom: 0;
  left: 0;
}

#close-notification {
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .weather .current {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .current>* {
    box-shadow: 0 1px 2px;
    padding: 16px;
  }

  .notification_container {
    right: 0;
    margin-block: auto;
  }
}